.logo.logo-wide {
    max-width: 240px;
}
.studentport {
	padding-top: 2%;
}
.nonprofit {
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center;
    margin-top: 1em;
    margin-bottom: auto;
    min-height: 300px;
    padding: 1em;
}

p {
	font-size:15px;
}
footer li, a{
	color:white;
}
footer h3{
	font-weight: 400; 

}